*{
    margin: 0;
    padding: 0;
    background-color: #ECECEC;
}
a{
    text-decoration: none;
    color: cornflowerblue;
    background-color: white;
}
#divWrap{
    width: 100%;
    height: 768px;
    padding: 100px 0px;
}
#divContent{
    width: 540px;
    height: 400px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    padding: 40px 30px;
}
.divContentTitle{
    background-color: white;
    font-size: 16px;
    padding-bottom: 10px;
}
.divContentInput{
    background-color: white;
    width: 450px;
    position: relative;
    margin: 0 auto;
    height: 66px;
    padding-top: 6px;
}
.divContentInputPhone{
    width: 100%;
    float: left;
    height: 44px;
    line-height: 54px\9;
    font-size: 16px;
    background: white;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #dcdcdc;
    outline: none;
}
.divContentInputPhone:focus{
    border-bottom: 1px solid #357AE8;
}
.divContentInputSpan{
    background-color: white;
    font-size: 12px;
    color: red;
    float: right;
}
.divContentInputUser{
    background-color: white;
    width: 450px;
    position: relative;
    margin: 0 auto;
    height: 50px;
    padding-top: 6px;
    color: #969696;
}
.divContentInputUserSpan{
    background-color: white;
    color: black;
}
.divContentBtn{
    padding-top: 14px;
    background-color: white;
    width: 450px;
    margin: 0 auto;
}
.divContentBtnA{
    width: 450px;
    height: 50px;
    color: white;
    background-color: #357AE8;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    line-height: 50px;
    text-align: center;
}
.divContentBtnA:hover{
    background-color: #4d90fe;
}
.divContentAppeal{
    background: white;
    font-size: 14px;
    text-align: right;
    color: #969696;
    padding-top: 24px;
    width: 450px;
    margin: 0 auto;
    position: relative;
}
.divContentAppeal span{
    background-color: white;
}
.divContentAppealLogin{
    float: left;
}
.forgetPassWordUpdate{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 180px;
}
.updatePassWord{
    width: 540px;
    height: 300px;
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    padding: 40px 30px;
}
.divContentPhone{
    background-color: white;
    width: 450px;
    position: relative;
    height: 30px;
    margin: 0 auto;
    padding-top: 16px;
}
.divContentPhone span{
    background-color: white;
}